/* Font common style for website */
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../fonts/MYRIADPRO-COND.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold Italic'), url('../fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed Italic'), url('../fonts/MYRIADPRO-CONDIT.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Italic'), url('../fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed Italic'), url('../fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed'), url('../fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
}
/* Font common style for website */


/* Common Style for website */
html, body {
    position: relative;
    height: 100%;
}
body{ 
    color: #666666;
    font-family: 'Myriad Pro Regular','Arial';     
}

h1 , h2 , h3 , h4 , h5 , h6{
	margin: 10px 0;
}

h1{
    font-family: 'Oswald';
    line-height: 50px;
    letter-spacing: 1.5px;
}

h2{

}

h3{
    font-family: 'Open Sans Semibold';
    line-height: 24px;
    font-size: 18px;
}

h4{

}

h5{

}

h6{

}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 24px;
  font-family: 'Open Sans';
  font-size: 14.4px;
}

ul , ol{
	margin: 0 0 0 5px;
}

ul li , ol li{
	margin: 0 0 0 10px;
}

a

a , a:hover , a:visited , a:focus , button{
	outline: none;
	color: inherit;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.hyphenate {
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
.top-buffer {
    margin-top: 70px;
}
.caption {
    margin: 9px 0px 0px 0px;
}
/* Common Style for website */


/* Main Style Start */
.wrapper {
    padding-bottom: 82px;
    float: left;
    width: 100%;
}
.header {
    float: left;
    width: 100%;
    margin-bottom: 14px;
    text-align: center;
}
.language-menu{
    padding: 20px;
    padding-top: 45px;
}
.language-menu ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.language-menu ul li{
    margin: 0px;
    padding: 0 6px;
    border-right: 1px solid #cccccc;
    line-height: 12px;
}

.language-menu ul li a{
    color: #747474;
    display: block;
    position: relative;
}

.language-menu ul li.active a:before{
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #26ad41;
}

.language-menu ul li.active a{
    color: #26ad41;
}

.language-menu ul li:last-child{
    margin-right: 0px;
}

.logo{
    float: left;
}

.center-text-link{
    display: inline-block;
    width: auto;
    color: #f36f36;
    padding-top: 37px;
}

.center-text-link h3{
    font-size: 18px;
}

.center-text-link h3 span{
    color: #999999;
}

.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.banner-slider{
    float: left;
    width: 100%;
    margin-bottom: 64px;
}

.bx-wrapper .bx-viewport {
    box-shadow: 0;
    border: 0;
    left: 0;
}
.banner-slider ul, .banner-slider li{
    margin: 0;
    padding:0;
}
.banner-slider .bx-viewport , .banner-slider li {
    height: 572px;
}

.caption-part{
    float: left;
    width: 630px;
    position: absolute;
}

.caption-part h1{
    font-size: 56px;
    color: #fff;
    line-height: 62px;
}

.caption-part h2{
    font-size: 23px;
    color: #009a36;
    line-height: 32px;
    margin-bottom: 30px;
    margin-top: 25px;
}

.caption-part h3{
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.caption-btn{
    float: left;
    width: 100%;
    margin-top: 45px;
}

.caption-btn a{
    padding: 18px 50px;
    border: 1px solid #009a36;
    border-radius: 6px;
    display: inline-block;
    width: auto;
    font-size: 18px;
    color: #009a36;
    text-decoration: none;
    background: url('../images/cap-btn-arrow.png') no-repeat 20px 50%;
}

/* Supporting marketing content */
.site-content {
    margin: 34px 0;
}
.site-content h1{
    font-size: 41px;
    margin-bottom: 50px;
    color: #4b4b4b;
    margin-top: 0px;
}
.site-content h2{
    font-size: 30px;
    color: #333333;
    margin-bottom: 45px;
    font-family: 'Oswald';
}
.site-content h3.green{
    font-size: 18px;
    color: #009a36
}
.site-content h3{
    font-size: 18px;
    margin: 0;
    color: #333333;
    margin-bottom: 8px;
}
.site-content h3:not(:first-child){
    margin-top: 17px;    
}
.site-content p {
    font-size: 14.4px;
    letter-spacing: 0.3px;
    line-height: 24px;
}
.pull-right img {
    float: right;
}
.green-border {
    border-bottom:7px solid #009a36;    
}
.site-content .slogan {
    background: url(../images/slogan-bk.png) no-repeat;
    min-height: 188px;
    padding: 43px 56px 0 43px;
    background-size: 100%;
}
.site-content p.signature {
    font-size: 15px;
    color: #333333;
    float: right;
    font-family: 'Open Sans Bold';
}

.right-buffer{
    margin-left: 17px;
}
.div-fixed {
    width: 73%;
}

/* Gallary */
.gallary{
    background-color:#f7f7f7;
    float: left;
    width: 100%;
}
.gallary{
    padding: 65px 0px 80px 0px;
}
.gallary h3{
    color:#333333;
    font-size: 30px;
    margin-bottom: 53px;
    font-family: 'oswald';
}
.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;    
    min-height: 200px;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-overlay{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: auto;
    height: auto;
    background: rgba(0,133,48,0.7);
    visibility: hidden;
}

.swiper-overlay a{
    width: 100%;
    display: block;
}

.swiper-slide:hover .swiper-overlay{
    visibility: visible;
}

/* Gallary End */

/* Testimonial start */
.testimonials {
    padding-top: 70px;
    float: left;
    width: 100%;
}
.testimonials .rating {
    float: left;
    width: auto;
}
.testimonials .box {
    background-color: #f6f3f3;
    padding: 30px 15px 29px 10px;
}
.testimonials blockquote {
    padding:0;
    border:0;
}
.testimonials blockquote .laquo {
    background: rgba(0, 0, 0, 0) url("../images/open-quote.png") no-repeat scroll left center;    
    float: left;
    height: 47px;
    width: 44px;
}
.testimonials blockquote p {
    font-size: 14px;
    line-height: 24px;
    padding: 24px 0 10px 49.4px;
}
.fa-star {
    color: #ecbd02;
}
/* Testimonial End */
.button-green {  
  background:#009a36 url("../images/left-arrow.png") no-repeat scroll 5% 50% !important;
  padding: 23px 129px;
  line-height: 3.9;
}
.btn {    
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-primary:hover {
    background-color:#009a36;
}

.custom-btn{
    margin-top: 115px;
}
/* Interested box */
.interested-box {
    background-color: #f4f3f3;
    margin-left: 45px;
    min-height: 209px;
    min-width: 254px;
    padding: 35px 0 0 44px;
}
.interested-box h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: #009a36;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans Bold';
}
.interested-box .contact-btn {
    margin-top:21px;
    margin-bottom: 24px;
    display: inline-block;
}
.interested-box .contact-btn a{
    color: #fff;
    text-decoration: none;
    background-color: #a9cbb5;        
    padding: 10px 10px;
    font-size: 18px;    
}
.fa-angle-left {
    color:#f36f36;
}
/* Interested box*/


/* Footer */
footer {
    background:#6c7874 none repeat scroll 0 0; 
    color: #fff;
    float: left;
    padding: 59px 0px 37px 0px;
    width: 100%;;
}
footer address {
    margin-bottom: 40px;
}
footer address h4{
    font-size: 20px;
    margin-bottom: 11px;
    margin-top: 0px;
}
.footer-menu ul li{
    display: table-cell;
    padding-right: 18px;
}
.footer-menu ul li a {
    color:#fff;
}
.social-icon {
    min-height: 300px;
}
.social-icon ul{
    list-style: none;
}
.social-icon::before {
    background: #d7d7d7 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 56%;
    left: 44%;
    position: absolute;
    width: 2.3px;
    z-index: 0;
}
.copyright p {
    font-size: 13px;
}